* {
  font-family: "DejaVuSansM Nerd Font";
  font-size: 16px;
  min-height: 0;
  min-width: 0;
}

window#waybar {
  border-radius: 12;
  border: 3px solid #485263;
  background-color: #171b20;
}

#workspaces {
  margin-left: 5px;
}

#workspaces button {
  color: rgba(255, 255, 255, 0.4);
  margin-left: 4px;
  background-color: transparent;
}

#workspaces button.hover {
  background-color: transparent;
}

#workspaces button.active {
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

#custom-player {
  margin-left: 16px;
}

#bluetooth {
  margin-right: 8px;
  color: #dee1e6;
}

#network {
  margin-right: 13px;
}

#custom-updates {
  font-size: 20px;
  margin-right: 22px;
  color: #dee1e6;
}

#pulseaudio {
  margin-right: 12px;
  color: #dee1e6;
}

#backlight {
  margin-right: 12px;
  color: #dee1e6;
}

#battery {
  margin-right: 12px;
  color: #dee1e6;
  background: transparent;
}

#tray {
  margin-right: 8px;
}

#battery.critical:not(.charging) {
  color: #dee1e6;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: #e26c7c;
  }
}

#clock {
  color: #dee1e6;
  margin-right: 8px;
}

#custom-power {
  font-size: 18px;
  margin-right: 22px;
  color: #e26c7c;
  background: transparent;
}

#custom-notifications {
  font-size: 18px;
  margin-right: 26px;
  color: #dee1e6;
  background: transparent;
}
